.idea

# File Extensions

*.db
*.log
*.uuid

# Folders

certificate
tts

# Files

.config_entries.json
.HA_VERSION
docker-compose.yml
entity_registry.yaml
ip_bans.yaml
known_devices.yaml
phue.conf
secrets.yaml
