.idea

# File Extensions

*.db
*.log
*.uuid

# Folders

.cloud
.storage
/certificate
/tts

# Files

.config_entries.json
.HA_VERSION
entity_registry.yaml
ip_bans.yaml
known_devices.yaml
phue.conf
secrets.yaml
